template(name="radioPictoOption")
    label.small.radio-inline
        input.form-control(type="radio", name="#{group}", id="#{group}-sun")
        +sunIcon
    label.small.radio-inline
        input.form-control(type="radio", name="#{group}", id="#{group}-cloud")
        +cloudIcon
    label.small.radio-inline
        input.form-control(type="radio", name="#{group}", id="#{group}-rain")
        +rainIcon
    label.small.radio-inline
        input.form-control(type="radio", name="#{group}", id="#{group}-thunder")
        +thunderIcon
