template(name="sunIcon")
    svg.picto.sun(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 83.5 79.4", version="1.1")
        g
            g(
                transform="matrix(0.92275304,0,0,0.92275304,-373.36018,-792.69826)",
                stroke="#afb4bd",
                stroke-dasharray="none",
                stroke-miterlimit="4",
                stroke-width="5.41856766"
            )
                path(d="m409,849a23.2,23.2,0,1,1,-46.5,0,23.2,23.2,0,1,1,46.5,0z", transform="translate(64.25,53.25)", fill="none")
                path(stroke-linejoin="miter", d="m422,931,7.07-7.07", stroke-linecap="round", fill="none")
                path(stroke-linejoin="miter", d="m410,902,10,0", stroke-linecap="round", fill="none")
                path(stroke-linejoin="miter", d="m450,942,0-10", stroke-linecap="round", fill="none")
                path(stroke-linejoin="miter", d="m471,881,7.07-7.07", stroke-linecap="round", fill="#efeef3")
                path(stroke-linejoin="miter", d="m480,902,10,0", stroke-linecap="round", fill="#efeef3")
                path(stroke-linejoin="miter", d="m450,872,0-10", stroke-linecap="round", fill="#efeef3")
                path(stroke-linejoin="miter", d="m429,881-7.07-7.07", stroke-linecap="round", fill="#efeef3")
                path(stroke-linejoin="miter", d="m478,931-7.07-7.07", stroke-linecap="round", fill="#efeef3")
